html *
{

   font-family: Arial !important;
}

.navtable{
	
}


#login_username{
	width:100%;
}
#navigation{
	width: 130px;
	background-color:rgb(214, 214, 214);
	height: 100%;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
}

#content{
	
	height: 100%
}

#global_table{
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	height:100%;
	border-collapse: collapse;
	border-spacing: 0;
	width:100%
}

#welcome #registration{
	vertical-align: top;
	text-align:center;
}


table.bottomBorder { border-collapse:collapse; }
table.bottomBorder td, table.bottomBorder th { border-bottom:1px dotted black;padding:5px;}

